* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: aqua;
}
.Main-div {
  border: 1px;
  border-radius: 20px;
  background-color: rgba(250, 250, 250, 1);
  width: 1000px;
  height: 500px;
  margin: 0 auto;
}
.center {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.Numbers {
  width: 204px;
  height: 92px;
  color: rgba(229, 57, 53, 1);
  font-weight: 700;
  font-size: 108px;
}
.Main-container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding-left: 50px;
}
.text-one {
  width: 445px;
  height: 29px;
  font-weight: 600;
  font-size: 38px;
  color: rgba(77, 77, 77, 1);
}
.text-two {
  max-width: 554px;
  height: 64px;
  font-weight: 400;
  font-size: 18px;
  color: rgba(77, 77, 77, 1);
}
